/*  
comments in css
*/


* {
     margin: 0;
     padding: 0;
     font-family: sans-serif, Helvetica, Arial;
}


.wrapper {

     padding: 1%;
     width: 80%;
     margin: 0 auto;
}

.text-center {
     text-align: center;

}

table tr th {
     border-bottom: 1px solid black;
     padding: 1%;
     text-align: left;

}

table tr td {
     padding: 1%;
}

.btn-primary {
     background-color: blue;
     padding: 1%;
     color: white;
     text-decoration: none;
     font-weight: bold
}

.btn-primary:hover {
     background-color: #ff4757;
}

.btn-secondary {
     background-color: rgb(0, 255, 72);
     padding: 1%;
     color: white;
     text-decoration: none;
     font-weight: bold
}

.btn-secondary:hover {
     background-color: #3e191d58;
}

.btn-danger {
     background-color: rgb(0, 255, 72);
     padding: 1%;
     color: white;
     text-decoration: none;
     font-weight: bold
}

.btn-danger:hover {
     background-color: #bc2333eb;
}

.success {
     color: #2e9e50
}

.error {
     color: #ff4757
}

/*css for menu*/
.menu {
     border-bottom: 1px solid gray;
}

.menu ul {
     list-style-type: none;
}

.menu ul li {
     display: inline;
     padding: 1%;

}

.menu ul li a {
     text-decoration: none;
     font-weight: bold;
     color: #ff6b81;
}

menu ul li a:hover {
     color: #ff4757;
}

/*css for main content*/
.main-content {
     margin: 1% 0;
     background-color: #a4b0be;
     margin: 0%;
     padding: 3% 0;
}

.col-4 {
     width: 20%;
     background-color: white;
     margin: 2%;
     padding: 2%;
     float: left;
}

.clearfix {
     float: none;
     clear: both;
}

.tbl-full {
     width: 100%;
}


/*css for footer*/

.footer {
     text-align: center;
     background-color: #ff4757;
}


/*css for login*/
.login {

     border: 1px solid grey;
     width: 20%;
     margin: 10% auto;
     padding: 2%;

}